<div>
    <form method="get" action="/search" id="search-form">
        <div class="search-form">
            <div id="instruments" class="form-section">
                <p> <h4> Instruments </h4> </p>
                <%- include("./parts/instrument-selection.ejs") %>
            </div>
            <div id="vocals" class="form-section">
                <p> <h4> Vocals </h4> </p>
                <div class="form-search-element">
                    <label for="voice_types" class="data-label"> Voice: </label>
                    <select id="voice_types" name="voice_types" class="data-select" data-live-search="true" multiple>
                        <% for (var i=0;i<voice_types.length;i++) { %>
                            <option value="<%= voice_types[i].TypeID %>"> <%= voice_types[i].TypeName %> </option>
                        <% } %>
                    </select>
                </div>
                <div class="form-search-element">
                    <label for="vocal_style" class="data-label"> Vocal Style: </label>
                    <select id="vocal_style" name="vocal_style" class="data-select" data-live-search="true" multiple>
                        <% for (var i=0;i<vocal_styles.length;i++) { %>
                            <option value="<%= vocal_styles[i].StyleID %>"> <%= vocal_styles[i].StyleName %> </option>
                        <% } %>
                    </select>
                </div>
                <div class="form-search-element">
                    <label for="album_language" class="data-label"> Language: </label>
                    <select id="album_language" name="album_language" class="data-select" data-live-search="true" multiple>
                        <% for (var i=0;i<languages.length;i++) { %>
                            <option value="<%= languages[i].LanguageID %>"> <%= languages[i].LanguageName %> </option>
                        <% } %>
                    </select>
                </div>
            </div>
            <div id="genres" class="form-section">
                <p> <h4> Details </h4> </p>
                <div class="form-search-element">
                    <label for="album_genre" class="data-label"> Genre: </label>
                    <select id="album_genre" name="album_genre" class="data-select" data-live-search="true" multiple>
                        <% for (var i=0;i<genres.length;i++) { %>
                            <option value="<%= genres[i].GenreID %>"> <%= genres[i].GenreName %> </option>
                        <% } %>
                    </select>
                </div>
            </div>

        </div>
        <div id="search" style="padding:10px;">
            <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" value="Run Search">
        </div>

        
    </form>
    <script>
        $('#voice_types').selectpicker();
        $('#vocal_style').selectpicker();
        $('#album_language').selectpicker();
        $('#album_genre').selectpicker();
    </script>
</div>